body{
	margin:0;
	padding: 0;
}

.toggle{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 200px;
	height: 100px;
	background:url(menu.png);
	cursor:pointer;
}

.toggle:before{
	content: url(menu-close.png);
	position: absolute;
	top:0;
	left:0;
	width: 0;
	height: 100%;
	overflow: hidden;
	transition:width .8s;
}

.toggle.active:before{
	width: 100%;
	transition:width .8s;
}